# Node modules
node_modules/

# Vercel deployment
.vercel/
.next/ 

# Next.js build output
.next/
out/
dist/

# Local env files
.env
.env.local
.env.*.local

# Runtime data (user interactions, etc.)
data/

# OS files
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Ignore test output
coverage/
.next/
.next/build-manifest.json
.next/trace
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/15.pack.gz
.next/cache/webpack/server-development/16.pack.gz
.next/cache/webpack/server-development/17.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/pages/_document.js
.next/server/pages/index.js
.next/server/pages/playlists.js
.next/server/pages/api/songs/most-liked.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/next.js
.next/static/chunks/main.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/library.js
.next/static/chunks/pages/playlists.js
.next/static/development/_buildManifest.js
